<form action="index.php?content=bank&mode=transfer" method="post">
<table width="100%">
	<tr>
		<td width="2%">
			<img src="templates/standart/images/iCubeBlueS.png" alt="" />
		</td>
		<td class="FileInfo" valign="top">
			Konto-Nummer:
		</td>
	</tr>
</table>
<dd><input type="text" class="feld" name="kn" /></dd>
{$er1}<br />
<table width="100%">
	<tr>
		<td width="2%">
			<img src="templates/standart/images/keyS.png" alt="" />
		</td>
		<td class="FileInfo" valign="top">
			Betrag:
		</td>
	</tr>
</table>
<dd><input type="text" class="feld" name="euro" /></dd>
{$er2}
<table width="100%">
	<tr>
		<td width="2%">
			<img src="templates/standart/images/speechBubbleS.png" alt="" />
		</td>
		<td class="FileInfo" valign="top">
			Grund:
		</td>
	</tr>
</table>
<dd><textarea name="info" class="text" cols="75" rows="8"></textarea></dd><br />
<br />
<input type="submit" name="submit" value="Guthaben überweißen" /><br /><br />
</form>