<table width="100%">
	<tr>
		<td width="10%">
			<img src="templates/standart/images/foldersYellowL.png" alt="" />
		</td>
		<td class="CatTitel" valign="top">
			<a href="index.php?content=wcat&ucat={$id}"><b>{$cat}</b></a> ({$u})
		</td>
	</tr>
</table>
