<table width="100%" cellpadding="0" cellspacing="0" style="border: 1px #CCC solid;">
	<tr>
		<td width="1%" class="tHLeft">
			Info:
		</td>
		<td class="tHMid" width="20%">
			{$user}
		</td>
		<td class="tHMid" width="20%">
			Datum:
		</td>
		<td class="tHRight" width="20%">
			Aktion:
		</td>
	</tr>
