	<tr>
		<td width="1%" class="GroupS" style="border-bottom: 1px #CCC solid;">
			<img src="templates/standart/images/iCubeBlueS.png" alt="" />
		</td>
		<td class="GroupS" width="60%" style="border-bottom: 1px #CCC solid; border-left: 1px #CCC solid ">
			<a href="group_{$id}.html"><b>{$titel}</b></a>
		</td>
		<td class="GroupS" width="30%" style="border-bottom: 1px #CCC solid; border-left: 1px #CCC solid ">
			{$admin}
		</td>
	</tr>