	<tr>
		<td width="1%" class="GroupS" style="border-bottom: 1px #CCC solid; border-top: 1px #CCC solid;">
			<img src="templates/standart/images/iCubeBlueS.png" alt="" />
		</td>
		<td class="GroupS" width="60%" style="border-bottom: 1px #CCC solid; border-top: 1px #CCC solid; border-left: 1px #CCC solid ">
			<a href="index.php?content=group_board&groupID={$id}&action=board&boardID={$bid}">{$bna}</a>
		</td>
		<td class="GroupS" width="30%" style="border-bottom: 1px #CCC solid; border-left: 1px #CCC solid; border-top: 1px #CCC solid; ">
			laswt
		</td>
	</tr>
	<tr>
		<td colspan="4"  class="GroupS" border-bottom: 1px #CCC solid;" />
			{$desc}
		</td>
	</tr>