<table width="100%" cellpadding="0" cellspacing="0" style="border: 1px #CCC solid;">
	<tr>
		<td width="1%" class="tHLeft">
			Info:
		</td>
		<td class="tHMid""  width="60%">
			Gruppen-Name:
		</td>
		<td class="tHRight"" width="30%">
			Aktion:
		</td>
	</tr>