	<tr>
		<td class="GroupS" colspan="4"  style="border-bottom: 1px #CCC solid;">
			<b>{$titel}</b>
		</td>
	</tr>
	<tr>
		<td colspan="4"  class="GroupS" border-bottom: 1px #CCC solid;" />
			{$desc}
		</td>
	</tr>