<form action="index.php?content=groups&mode=join&groupID={$id}" method="post">
Gruppen Passwort:<br />
<dd><input type="password" name="pass" /></dd><br />
<input type="hidden" name="groupID" value="{$id}" />
<input type="submit" name="g_join" value="Gruppe Beitretten" />
</form>