<form action="index.php?content=groups&mode=invite&groupID={$id}" method="post">
Username:<br />
<dd><input type="text" name="user" /></dd><br />
<input type="hidden" name="groupID" value="{$id}" />
{$er}
<input type="submit" name="g_inv" value="User Einladen" />
</form>