	<tr>
		<td width="1%" class="GroupS" style="border-bottom: 1px #CCC solid;">
			{$info}
		</td>
		<td class="GroupS" width="20%"  style="border-bottom: 1px #CCC solid; border-left: 1px #CCC solid ">
			{$user}
		</td>
		<td class="GroupS" width="20%"  style="border-bottom: 1px #CCC solid; border-left: 1px #CCC solid ">
			<img src="templates/standart/images/calendarS.png" alt="" /> {$date}
		</td>
		<td class="GroupS"  width="20%"  style="border-bottom: 1px #CCC solid; border-left: 1px #CCC solid ">
			{$admin}
		</td>
	</tr>