{$dive}
{foreach key=error from=$error item=show}
{$show}
{/foreach}
{$dive2}
<br />
<form action="index.php?content=login" method="post">
	Username:
	<dd><input type="text" name="user" /></dd>
	Passwort:
	<dd><input type="password" name="pass" /></dd>
	<dl><input type="submit" name="submit" value="Login" /></dl>
</form>