<form action="index.php?content=login" method="post">
	Username:<br />
	<input type="text" name="user" class="feld" />
	Passwort:<br />
	<input type="password" name="pass" class="feld" />
	<dl><input type="submit" name="submit" value="Login" /></dl>
</form>