Neue Nachricht:<br /><br />
<form action="index.php?content=mes&mode=add" name="post" method="post">
<table width="100%">
	<tr>
		<td width="2%">
			<img src="templates/standart/images/iCubeBlueS.png" alt="" />
		</td>
		<td class="FileInfo" valign="top">
			Nachricht an:
		</td>
	</tr>
</table>
<dd><input type="text" class="feld" name="user" value="{$user}" /></dd>
{$er1}
<table width="100%">
	<tr>
		<td width="2%">
			<img src="templates/standart/images/iCubeBlueS.png" alt="" />
		</td>
		<td class="FileInfo" valign="top">
			Betreff:
		</td>
	</tr>
</table>
<dd><input type="text" class="feld" name="bet" value="{$bet}" /></dd>
{$er2}
<br />
<table width="100%">
	<tr>
		<td width="2%">
			<img src="templates/standart/images/iCubeGreyS.png" alt="" />
		</td>
		<td class="FileInfo" valign="top">
			Message:
		</td>
	</tr>
</table>
<dd>
<a href="#" onclick="AddCenter()"><img src="images/bbcode/center.jpg" alt="" border="0" /></a>
<a href="#" onclick="AddLeft()"><img src="images/bbcode/left.jpg" alt="" border="0" /></a>
<a href="#" onclick="AddRight()"><img src="images/bbcode/right.jpg" alt="" border="0" /></a>
<a href="#" onclick="AddImg()"><img src="images/bbcode/bb1.jpg" alt="" border="0" /></a>
<a href="#" onclick="AddB()"><img src="images/bbcode/bold.jpg" alt="" border="0" /></a>
<a href="#" onclick="AddI()"><img src="images/bbcode/ital.jpg" alt="" border="0" /></a>
<a href="#" onclick="AddU()"><img src="images/bbcode/under.jpg" alt="" border="0" /></a>
<br /><br />
<textarea class="text" cols="85" rows="10" name="message"></textarea></dd><br />
{$er3}
<br />
<input type="submit" class="form" name="s_mes" value="Nachricht verschicken" />
</form>
<br />
<font size="1">BB Codes sind erlaubt</font>