<table width="100%">
	<tr>
		<td width="2%">
			<img src="templates/standart/images/iCubeBlueS.png" alt="" />
		</td>
		<td class="FileInfo" valign="top">
			Nachricht an:
		</td>
	</tr>
</table>
<dd>{$user}</dd>
<table width="100%">
	<tr>
		<td width="2%">
			<img src="templates/standart/images/iCubeBlueS.png" alt="" />
		</td>
		<td class="FileInfo" valign="top">
			Betreff:
		</td>
	</tr>
</table>
<dd>{$bet}</dd>
<table width="100%">
	<tr>
		<td width="2%">
			<img src="templates/standart/images/calendarS.png" alt="" />
		</td>
		<td class="FileInfo" valign="top">
			Datum:
		</td>
	</tr>
</table>
<dd>{$date}</dd>
<br />
<hr size="1" />
<br />
<table width="100%">
	<tr>
		<td width="2%">
			<img src="templates/standart/images/iCubeGreyS.png" alt="" />
		</td>
		<td class="FileInfo" valign="top">
			Message:
		</td>
	</tr>
</table>
<dd>{$mes}</dd>