<br />
<div class="newsnew">
	<span>{$bet}</span> von {$user}
	<br />
	Gesendet am: {$date}
</div>
<p style="padding-left: 15px; text-align: justify; border-bottom: 1px #ccc dashed; padding-bottom: 10px;">{$mes}</p>