<br />
<div class="newsnew">
	<span>{$bet}</span> von {$user}
	<br />
	Gesendet am: {$date}
</div>
<p style="padding-left: 15px; text-align: justify; border-bottom: 1px #ccc dashed; padding-bottom: 10px;">{$mes}</p>
<form action="index.php?content=mes&mode=add" method="post">
<input type="hidden" name="user" value="{$user_add}" />
<input type="hidden" name="betreff" value="{$bet}" />
<input type="submit" value="Antworten" />
</form>