<table width="100%" cellpadding="0" cellspacing="0" style="border: 1px #CCC solid;">
	<tr>
		<td width="5%" class="tHLeft">
			Info:
		</td>
		<td class="tHMid" width="20%">
			Von:
		</td>
		<td class="tHMid" width="40%">
			 Betreff:
		</td>
		<td class="tHMid"  width="20%">
			 An:
		</td>
		<td class="tHRight" >
			Aktion:
		</td>
	</tr>