<br />
<div class="newsnew">
	<span>{$titel}</span>
	<br />
	{$com}
</div>
<p style="text-align: justify;">{$text}</p>
<hr style="border: 1px #ddd solid;" />
Geschrieben von {$user} am {$Datum} | Quelle: {$q}</dl><br /><br />