<form action="index.php?content=news&mode=com&action=add" method="post" name="post">
<h4>News Kommentar abgeben:</h4><br />
<a onclick="AddCenter()"><img src="images/bbcode/center.jpg" alt="" border="0" /></a>
<a onclick="AddLeft()"><img src="images/bbcode/left.jpg" alt="" border="0" /></a>
<a onclick="AddRight()"><img src="images/bbcode/right.jpg" alt="" border="0" /></a>
<a onclick="AddImg()"><img src="images/bbcode/bb1.jpg" alt="" border="0" /></a>
<a onclick="AddB()"><img src="images/bbcode/bold.jpg" alt="" border="0" /></a>
<a onclick="AddI()"><img src="images/bbcode/ital.jpg" alt="" border="0" /></a>
<a onclick="AddU()"><img src="images/bbcode/under.jpg" alt="" border="0" /></a>
<br /><br />
<textarea name="message" class="texts" cols="45" rows="5"></textarea><br /><br />
<input type="submit" class="form" name="c_add" value="Speichern" />
<input type="hidden" name="newsID" value="{$id}" />
</form>
<br />