<br />
<div class="newsnew">
	<a href="news_{$id}.html">{$titel}</a>
	<br />
	{$com}
</div>
<p style="text-align: justify;">{$Text}</p>
<hr style="border: 1px #ddd solid;" />
Geschrieben von {$user} am {$Datum} | Quelle: {$q}</dl>
<br /><br />
