	<div class="coment">
		<table width="100%">
			<tr>
				<td width="5%">
					<img src="templates/standart/images/iCubeBlueS.png" alt="" />
				</td>
				<td class="FileTitel" valign="top" width="20%">
					Von: <b>{$user}</b>
				</td>
				<td class="FileTitel" valign="top" width="1%">
					 <img src="templates/standart/images/calendarS.png" alt="" />
				</td>
				<td class="FileTitel" valign="top" >
					{$date}
				</td>
			</tr>
		</table>
		<hr size="1" />
		<dd>
			{$text}
		</dd>
		<table width="100%">
			<tr>
				<td class="FileTitel" valign="top">
					{$admin}
				</td>
			</tr>
		</table>
	</div>