<table width="100%" cellspacing="5" cellpadding="1">
	<tr>
		<td width="5%">
			<img src="templates/standart/images/iCubeBlueS.png" alt="" />
		</td>
		<td class="GroupS" style="height: 20px;" valign="top" width="18%">
			User: <b>{$user}</b>
		</td>
		<td class="GroupS">
			{$on}
		</td>
	</tr>
</table>