.error {
	width: 250px;
	padding: 10px;
	text-align: left;
	background: #F08080;
	border: 1px #A52A2A dashed;
}

.zitat {
	width: 300px;
	background-color: #CCC;
	border:1px #666 solid;
	padding: 10px;
}

#spoiler {
	display: none;
	padding-left: 15px;
	font-size: 12px;
	font-family: arial;
}