.titel {
padding-top: 5px; 
text-shadow: 0px 2px 5px #000; 
font-weight: bold;
}

.NewsTitel {
	font-size: 25px;
	font-family: arial;
	font-weight: bold;
	color: #164369;
	text-shadow: 0 2px 3px #bbb;
}
.FileInfo {
	font-size: 15px;
	font-family: arial;
	font-weight: bold;
	color: #164369;
	text-shadow: 0 2px 3px #bbb;
}
.NewsTitel {
	font-size: 12px;
	font-family: arial;
	font-weight: bold;
	color: #164369;
	text-shadow: 0 2px 3px #bbb;
}
.NewsTitel a {
	font-size: 25px;
	font-family: arial;
	font-weight: bold;
	color: #164369;
	text-shadow: 0 2px 3px #bbb;
}
.NewsTitel a:hover {
	color: #FF8C00;
	text-decoration: underline;
}
.CatTitel a {
	font-size: 25px;
	font-family: arial;
	font-weight: bold;
	color: #164369;
	text-shadow: 0 2px 3px #bbb;
}
.CatTitel a:hover {
	color: #FF8C00;
	text-decoration: underline;
}
.CatTitelS a  {
	font-size: 15px;
	font-family: arial;
	font-weight: bold;
	color: #164369;
	text-shadow: 0 2px 3px #bbb;
}
.CatTitelS a:hover {
	color: #FF8C00;
	text-decoration: underline;
}
.FileTitel a  {
	font-size: 15px;
	font-family: arial;
	font-weight: bold;
	color: #164369;
	text-shadow: 0 2px 3px #bbb;
	padding-left: 20px;
}
.FileTitel a:hover {
	color: #FF8C00;
	text-decoration: underline;
}
.GroupS {
	background-color: #EEE;
	padding-left: 5px;
}
.GroupS a:hover {
	color: #FF8C00;
	text-decoration: underline;
}
.Big {
	font-size: 25px;
	font-family: arial;
	font-weight: bold;
	color: #164369;
	text-shadow: 0 2px 3px #bbb;
	padding-left: 10px;
}
.GroupSa a {
	font-size: 13px;
	font-family: arial;
	font-weight: bold;
	color: #164369;
	text-shadow: 0 2px 3px #bbb;
	padding-left: 20px;
}
.GroupSa a:hover {
	color: #FF8C00;
	text-decoration: underline;
}

.info {
	color: #164369;
	background-color: #FFF8DC;
	border: 1px solid #660;
	padding: 15px 20px;
	display: block;
	width: 80%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: left;
}
.tHLeft  {
	background: url(../images/navi1.gif) repeat-x 100% -23px;
	height: 23px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	font-size: 12px;
	font-family: arial;
	padding-left: 5px;
	border-bottom: 1px #A6A6A6 solid;
}
.tHMid  {
	background: url(../images/navi1.gif) repeat-x 100% -23px;
	height: 23px;
	font-size: 12px;
	font-family: arial;
	padding-left: 5px;
	border-bottom: 1px #A6A6A6 solid;
}
.tHRight  {
	background: url(../images/navi1.gif) repeat-x 100% -23px;
	height: 23px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	font-size: 12px;
	font-family: arial;
	padding-left: 5px;
	border-bottom: 1px #A6A6A6 solid;
}
.back {
	padding-left: 20px;
	font-family: arial;
	font-weight: bold;
	color: #164369;
	text-shadow: 0 2px 3px #bbb;
	height: 18px;
	background: url(../images/back.png) no-repeat;
}
.success {
	background: url(../../../images/main/ok.png) no-repeat;
	background-position: 5px;
	margin-top: 15px;
	color: #090;
	padding-left: 62px;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #efe;
	border-color: #090;
	border-width: 1px;
	height: 35px;
	border-style:solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-family: arial;
	font-size: 15px;
}
.success a {
	color: #090;
}
.success a:visited {
	color: #090;
}
.lerror {
	background: url(../../../images/main/fail.png) no-repeat;
	background-position: 5px;
	margin-top: 15px;
	color: #c00;
	padding-left: 62px;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #fee;
	border-color: #c00;
	border-width: 1px;
	min-height: 35px;
	border-style:solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-family: arial;
	font-size: 15px;
}
.serror {
	margin-top: 5px;
	background: url(../images/error.png) no-repeat;
	background-position: 5px;
	color: #c00;
	padding-left: 28px;
	padding-top:3px;
	padding-bottom: 3px;
	background-color: #fee;
	border-color: #c00;
	border-width: 1px;
	border-style:solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-family: arial;
	font-size: 12px;
}

.coment {
	margin-top: 15px;
	margin-bottom: 15px;
	box-shadow: 2px 2px 8px #888;
	-webkit-box-shadow: 0px 2px 3px #888;
	background: url(../images/bg3.png);
	-moz-box-shadow: 0px 2px 3px #888;
	padding: 10px;
	border: 1px #CCC solid;
	background-color: #f2f2f2;
}
.texts {
	font-family: arial; 
	padding-left: 5px; 
	font-size: 12px;	
	padding-top: 2px; 
	padding-right: 5px; 
	border: 1px #FFF solid; 
	border-color: #8da4b7; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
	width: 560px;
}
.texts:focus {
	background-color: #fff9f4; 
	border-color: #fa2; 
	color: #333;
}
.text {
	font-family: arial; 
	padding-left: 5px; 
	font-size: 12px;	
	padding-top: 2px; 
	padding-right: 5px; 
	border: 1px #FFF solid; 
	border-color: #8da4b7; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
}
.text:focus {
	background-color: #fff9f4; 
	border-color: #fa2; 
	color: #333;
}
.form { 
	cursor:pointer;
	border:outset 1px #ccc;
	background:#999;
	color:#666;
	font-weight:bold;
	padding: 1px 2px;
	background:url(../images/formbg.gif) repeat-x left top;
}
.feld { font-family: arial; padding-left: 5px; font-size: 12px;	padding-top: 2px; padding-right: 5px; border: 1px #FFF solid; border-color: #8da4b7; height: 18px; width: 140px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.feld:focus { background-color: #fff9f4; border-color: #fa2; color: #333; }

.winfo {
	border-bottom: 1px #ccc dashed;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 40px;
	background: url(../images/info.png) no-repeat;
	background-position: 2px;
}
.winfo:hover {
	background-color: #f2f2f2;
}
.wfolder {
	border-bottom: 1px #ccc dashed;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 40px;
	background: url(../images/folder.png) no-repeat;
	background-position: 2px;
}
.wfolder:hover {
	background-color: #f2f2f2;
}
.newsnew {
	background: url(../images/bg4.png);
	height: 50px;
	padding-top: 5px;
	padding-left: 15px;
	color: #fff;
	font-family: Verdana;
	text-shadow: 0px 2px 2px #000;
	-webkit-box-shadow: 0px 0px 2px #000;
	-moz-box-shadow: 0px 0px 2px #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
	.newsnew a {
		font-size: 14pt;
		color: #fff;
		font-weight: bold;
		text-shadow: 0px 2px 3px #000;
		font-family: Verdana;
	}
	.newsnew a:hover {
		color: orange;
	}
		.newsnew span {
			font-size: 14pt;
			color: #fff;
			font-weight: bold;
			text-shadow: 0px 2px 3px #000;
			font-family: Verdana;
		}
.download {
	font-size: 14pt;
	font-family: Verdana;
	background: url(../images/download.png) no-repeat;
	height: 34px;
	padding-left: 34px;
	padding-top: 4px;
	font-weight: bold;
}
.infos {
	border-bottom: 1px #ccc dashed;
	background: url(../images/infos.png) no-repeat;
	height: 18px;
	padding-left: 20px;
	font-weight: bold;
	font-family: Verdana;
	font-size: 10pt;
	color: #164369;
	text-shadow: 0px 2px 3px #bbb;
}
.table_f {
	background: url(../images/foldersYellowS.png) no-repeat 0px 1px;
	height: 18px;
	padding-left: 20px;
	font-family: Verdana;
	font-size: 10pt;
	color: #164369;
	text-shadow: 0px 2px 3px #bbb;
	margin-bottom: 3px;
}	