#Wrapper {
	width: 1000px;
}
#Left {
	float: left;
	width: 180px;
	font-family: arial;
}
#Left h4 {
	color: #164369;
	text-shadow: 0 2px 3px #bbb;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	border-bottom: 1px #333 dashed;
}
#Warez {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #A6A6A6;
	text-align: left;
	padding: 10px;
	background: url(../images/bg3.png);
	background-color: #FFF;
	box-shadow: 2px 2px 8px #333;
	-webkit-box-shadow: 2px 2px 8px #333;
	-moz-box-shadow: 2px 2px 8px #333;
	font-size: 14px;
	font-family: Verdana;
}
	#Warez a {
		font-size: 14px;
		font-family: Verdana;
	}
#User {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #A6A6A6;
	text-align: left;
	padding: 10px;
	font-size: 12px;
	background: url(../images/bg3.png);
	background-color: #FFF;
	text-shadow: 0 2px 3px #bbb;
	color: #164369;
	box-shadow: 2px 2px 8px #333;
	-webkit-box-shadow: 2px 2px 8px #333;
	-moz-box-shadow: 2px 2px 8px #333;
}
#User h4 {
	font-size: 15px;
}
#Lang {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #A6A6A6;
	text-align: left;
	padding: 10px;
	background: url(../images/navi1.gif) repeat-x 100% -23px;
	background-color: #FFF;
}
#Lang h4 {
	color: #164369;
	text-shadow: 0 2px 3px #bbb;
	margin-top: 0;
	margin-bottom: 5px;
}
#User a {
	font-size: 13px;
}
#Content {
	margin-left: 80px;
	width: 650px;
	text-align: left;
	background-color: #FFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 2px 2px 8px #333;
	-webkit-box-shadow: 2px 2px 8px #333;
	-moz-box-shadow: 2px 2px 8px #333;
}
#Navi  {
	background: url(../images/bg2.png) repeat-x;
	height: 48px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	padding-top: 10px;
	font-size: 12px;
	font-family: arial;
	padding-left: 15px;
	padding-right: 15px;
	border-bottom: 1px #A6A6A6 solid;
	color: #000;
}
#Navi a{
	color: #fff;
	font-size: 16pt;
	font-weight: bold;
	font-family: Verdana;
	text-shadow: 0 2px 3px #000;
	padding-left: 5px;
	padding-right: 5px;
}
	#Navi ul {
		list-style: none;
		margin: 0;
		padding: 0;
		padding-top: 5px;
	}
		#Navi li {
			float: left;
			padding-right: 15px;
		}	
#Navi a:hover {
	color: orange;
}
#News {
	font-size: 12px;
	font-family: arial;
	padding-right: 15px;
}
#News h4 {
	color: #164369;
	text-shadow: 0 2px 3px #bbb;
}
#Unten {
	margin-left: 80px;
	margin-bottom: 20px;
	background: url(../images/bg2.png) repeat-x;
	width: 640px;
	background-color: #FFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
	text-shadow: 0px 2px 2px #000;
	color: #fff;
	font-weight: bold;
	font-family: Verdana;
	text-align: left;
	box-shadow: 2px 2px 8px #000;
	-webkit-box-shadow: 2px 2px 8px #000;
	-moz-box-shadow: 2px 2px 8px #000;
}
#Unten a {
	color: #164369;
	font-size: 11px;
}
#Unten a:hover {
	color: #FF8C00;
	text-decoration: underline;
}
#logo {
	font-weight: bold;
	font-size: 34px;
	font-family: Verdana;
	text-shadow: 2px 2px 3px #333;
}
