body {
	margin: 0px;
	padding: 0px;
	background:url(../images/bg.png);
}

a, a:visited {
	text-decoration: none;
	color: #164369;
	text-shadow: 0 2px 3px #bbb;
}
a:hover {
	color: #FF8C00;
	text-decoration: underline;
}