body {
	background-color: #F2F2F2;
	color: #000;
	margin-top: 45px;
}

a, a:visited {
	text-decoration: none;
	color: #164369;
	text-shadow: 0 2px 3px #bbb;
}
a:hover {
	color: #FF8C00;
	text-decoration: underline;
}
#Wrapper {
	width: 880px;
}
#Header {
	color: #164369;
	text-shadow: 0 2px 3px #bbb;
	font-size: 40px;
	font-weight: bold;
}
#Navi {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #A6A6A6;
	text-align: left;
	padding: 10px;
	background: url(../templates/standart/images/navi1.gif) repeat-x 100% -23px;
	background-color: #FFF;
	width: 180px;
	float: left;
	text-align: left;
}
#Con {
	margin-left: 180px;
	width: 600px;
	text-align: left;
	background-color: #FFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #A6A6A6;
	min-height: 250px;
}
#Top  {
	background: url(../templates/standart/images/navi1.gif) repeat-x 100% -23px;
	height: 23px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	padding-top: 5px;
	font-size: 12px;
	font-family: arial;
	padding-left: 15px;
	padding-right: 15px;
	border-bottom: 1px #A6A6A6 solid;
	color: #000;
}
#News {
	font-size: 12px;
	font-family: arial;
	min-height: 470px;
	padding: 10px;
}